<!DOCTYPE html>

<!-- Main Page Content and Sidebar -->
<body>
<div class="row">

  <!-- Main Blog Content -->
  <div class="large-9 columns" role="content">

    <article>

      <h3>Sponsors</h3>


      <div class="row">
        <div class="large-9 columns">
          
            <%= link_to(image_tag("osu-logo.png", alt: "OSU"), 'http://www.osu.edu') %>
            <%= link_to(image_tag("engLogo-web.png", alt: "College of Engineering"), 'http://www.engineering.osu.edu')%>
            <%= link_to(image_tag("gunnarLogo.jpg", alt: "Gunnar"), 'http://www.gunnars.com/') %>
            <%= link_to(image_tag("valveLogo.jpg", alt: "Valve"), 'http://valvesoftware.com' )%>
            <%= link_to(image_tag("razorLogo.jpg", alt: "Razer"), 'Razer.com') %>
            <%= link_to(image_tag("canesLogo.jpg", alt: "Raising Cane's"), 'http://raisingcanes.com/') %>
          
        </div>
      </div>

    </article>
    <article>

      <h3>Partners</h3>
     <div class ="row">
      <div class="large-9 columns">
       
         <%= link_to (image_tag("nationwideLogo.jpg", alt: "Nationwide"), 'http://nationwidechildrenshospital.org') %>
       
      </div>
    </div>

    </article>
    <article>

      <h3>Honorable Mentions</h3>
      <div class ="row">
        <div class="large-9 columns">
          
            <%= link_to(image_tag("papaLogo.jpg", alt: "Papa Johns"), 'http://papajohns.com') %>
            <%= link_to(image_tag("markpiLogo.gif", alt: "Mark Pi's"), 'http://markpis.com') %>
            <%= link_to(image_tag("donutsLogo.jpg", alt: "Buckeye Donuts"), 'http://buckeyedonuts.com') %>
          
        </div>
      </div>

    </article>
</body>